<a href="https://colab.research.google.com/github/Pratapbogg/ML/blob/main/MLBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


1. Print()

In [12]:
print("Hello World")

Hello World

2. Data Structure
  a.List
  b.Tuple
  c.Dict
  d.Set

List

In [ ]:
MultiList = [1,'a',"test",3.6,True]
veggies = ["Potatoes","peas","Beans","Carrot"]
array = [1,2,3,4,5,]

print(veggies)
print(MultiList)
print(type(veggies))

print(veggies[3])
print(veggies[-2])

veggies.append("Brinjal")
veggies[2] = "Peas"
print(veggies)

3. In Python, Indexing starts from 0(Zero)

Tuple

In [26]:
Veg = ("V1","V2","V3")
print(Veg)
print(type(Veg))

print(Veg)

('V1', 'V2', 'V3')
<class 'tuple'>
('V1', 'V2', 'V3')

Tuple to List

In [35]:
tup = ('V1','V2','V3')
print(type(tup))
#l1 = list(tup)

<class 'tuple'>

Set

In [ ]:
iSet = {1,2,3,4,5,1,2,3,4,5}
print(iSet)
print(type(iSet))

List  -> [...]  Mutable (Changable)
Tuple -> (...)  UnChangable
Set   -> {...}  Only Unique \ Different Value